.m-login {
    @media screen and (max-width: 446px) {
        .m-login-panel {
            width: 100% !important;
        }
    }
    .m-login-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1010;
        height: 100%;
        background-color: rgba(0,0,0,.45);
    }

    .m-login-panel {
        z-index: 1099;
        width: 450px;
        height: 530px;
        background: #fff;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .m-login-header {
        height: 67px;
        min-width: 0px;

        h3 {
            height: 100%;
            padding-top: 15px;
        }
    }

    .m-login-footer {
        bottom: 0;
        line-height: 60px;
        background: #07aefc;
        width: 100%;
        color: #fff;
        position: absolute;
    }

    .m-login-swich {
        color: #fff!important;
        display: block;
        margin-right: 10px;
        float: right;
    }

    .m-login-body {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        position: absolute;
        top: 67px;
        bottom: 60px;
        //padding-left: 20px;
        width: 100%;

        .ant-form {
            margin: 0 auto;
            width: 300px;
        }
    }

    .m-login-findpassword {
        color: rgba(0, 0, 0, 0.25);
        display: inline-block;
        width: 60%;
        text-align: left;

        i {
            padding-right: 5px;
        }
    }

    button {
        width: 120px;
    }

    .m-login-loading-background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: rgba(255,255,255,0.45);
        z-index: 1020;
    }

    .m-login-loading {
        z-index: 1021;
        position: relative;
        top: 50px;
    }

    .m-login-error {
        z-index: 1022;
    }

    .m-login-showregist-sucess {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1023;
        background-color: #fff;
    }
}